.header {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title {
    grid-column: 2 / 3;
    justify-self: center;
}

.image {
    justify-self: center;
}

.login {
    grid-column-start: 3;
    justify-self: end;
    margin-right: 3%;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    font-size: small;
    display: inline-block;
    padding: 4px;
}

li:hover {
    text-decoration: underline;
}